<div id= "user-showpage">

<h2>Welcome <%= @user.username %></h2>
<div id= "side-container">
    <ul>
        <li><%= link_to("Edit User", { :action => "edit" }, :method => :get) %></li>
        <li><%= link_to("Delete User", @user, method: 'delete') %></li>

        <li><%= link_to("Create Post",{:controller => 'posts', :action => 'new'}, :method => :get) %></li>
        <li><%= link_to("View All Posts",{:controller => 'posts', :action => 'index'}, :method => :get) %></li>
    </ul>
</div>
</div>
