<h1>Edit Post</h1>
<div id="post-new">
    <%= form_for @post do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %> <br/><br/>
        <%= f.label :body %>
        <%= f.text_area :body, rows: 6, required: true, minlength: 10, maxlength: 500 %><br/>

        <div id="action"><%= f.submit "Edit Post" %>

    <% end %>
</div>